* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Contenido Principal */
.contenidoPrincipal {
    margin-top: 80px;
}
/* Navbar y sidebar */
.logo { /* logo de la empresa */
    width: 28px;
    height: 28px;
}
.navbar {
    background-color: #fff;
    height: 60px;
    margin: 10px 10px;
    border-radius: 10px;
    padding: 0.3rem;
    border: 1px solid blueviolet;
}
.navbarBrand { /* nombre de la empresa */
    font-weight: 700;
    color: blueviolet;
    font-size: 15px;
    padding-left: 5px;
    transition: 0.3s color;
}
.navbarToggler { /* simbolo del nav desplegable */
    border: none;
    font-size: 1.20rem;
}
.navbarToggler:focus, .btnClose:focus { /* focus del simbolo del nav desplegable y X de cerrar nav dsplegable */
    box-shadow: none;
    outline: none;
}
@media screen and (max-width: 380px) { /* vertical */
    .navbarBrand {
        display: none;
    }
    .logo {
        width: 35px;
        height: 35px;
    }
}