* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Contenido Principal */
.contenidoPrincipal {
    margin-top: 80px;
}

/* Navbar y sidebar */
.logo { /* logo de la empresa */
    width: 28px;
    height: 28px;
}
.navbar {
    background-color: #fff;
    height: 60px;
    margin: 10px 10px;
    border-radius: 10px;
    padding: 0.3rem;
    border: 1px solid blueviolet;
}
.navbarBrand { /* nombre de la empresa */
    font-weight: 700;
    color: blueviolet;
    font-size: 15px;
    padding-left: 5px;
    transition: 0.3s color;
}
.loginButton { /* boton de iniciar secion y de cerras sesion, y de volver a inicio */
    background: blueviolet;
    border: 2px #fff solid;
    border-radius: 50px;
    text-decoration: none;
    color: #fff;
    padding: 8px 15px;
    font-size: 15px;
    /* Ajuste para que se vea como botón */
    cursor: pointer;
}
.loginButton:hover { /* hover de boton de iniciar sesion */
    background: transparent;
    color: blueviolet;
    border: solid 2px blueviolet;
}
.navbarToggler { /* simbolo del nav desplegable */
    border: none;
    font-size: 1.20rem;
}
.navbarToggler:focus, .btnClose:focus { /* focus del simbolo del nav desplegable y X de cerrar nav dsplegable */
    box-shadow: none;
    outline: none;
}
.navLink { /* opciones del menu */
    color: #666777;
    font-weight: 500;
    position: relative;
}
.navLink:hover, .navLink.active { /* hover de opciones del menu y active como class */
    color: blueviolet;
}

@media (min-width: 993px) {
    .navLink::before { /* before para agregar lineas en la parte baja de las opciones del menu, no visibles */
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 3px;
        background-color: blueviolet;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }
    .navLink:hover::before, .navLink.active::before { /* hover, before y active que hacen que sean visibles las lineas en la parte baja de la opcion del menu */
        width: 100%;
        visibility: visible;
    }
}
@media screen and (max-width: 380px) { /* vertical */
    .navbarBrand {
        display: none;
    }
    .logo {
        width: 35px;
        height: 35px;
    }
}
/* Navbar y sidebar (Terminado) */

/* Carrusel */
.carrusel {
    max-height: 100%;
    max-width: 100%;
    overflow: auto;
}
/* Carrusel */

/* seguridad */
.barra {
    background-color: #982eca; /* verde */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-size: 14px;
}
.barraLeft {
    display: flex;
    align-items: center;
    gap: 20px;
}
.barraLeft span {
    display: flex;
    align-items: center;
    gap: 6px;
}
.barraRight {
    background: #f5f5f5;
    color: #000a00;
    padding: 12px 20px;
    font-size: 14px;
    width: 100%;
}
.barraRight span {
    font-weight: bold;
}
.barraRight a {
    margin-left: 10px;
    color: #000800;
    text-decoration: none;
    font-weight: bold;
}
.barraRight a:hover {
    text-decoration: underline;
}
/* fin de seguridad */

/* Footer */
.footer {
    background: blueviolet;
    padding: 50px 0;
    width: 100%;
}
.container {
    max-width: calc(100% - 20px);
}
.footerRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 50px 0 50px;
}
.footerLinks { /* Contenedor de la lista de enlaces, ul/li */
    width: 25%;
    padding: 0 10px;
    width: auto;
}
.footerLinks h4 { /* Titulos de los contenedores de enlace */
    color: #fff;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid gold;
    padding-bottom: 10px;
    display: inline-block;
}
.footerLinks ul li a { /* Color y decoracion para enlaces y lista */
    color: #eee;
    text-decoration: none;
}
.footerLinks ul li {
    font-size: 18px;
    display: block;
    margin-bottom: 20px;
    transition: all 0.3s ease;
}
.footerLinks ul li:hover {
    padding-left: 6px;
}
.socialLinks a {
    display: inline-block;
    text-align: center;
    transition: all .5s ease;
}
.footerLinks a:hover {
    color: gold;
}
/* Medias Query */
@media screen and (max-width: 500px) {
    .footerRow {
        text-align: start;
    }
    .footerLinks {
        width: 100%;
        margin-bottom: 30px;
    }
}
/* Footer */